.flights {
    padding-top: 20vh;
    width: 100%;
    min-height: 80vh;
    background-color: #43AFE4;

    header {
        height: 25%;
        width: 100%;
        flex-direction: column;

        h1 {
            margin-bottom: 1rem;
            font-family: 'Poppins', sans-serif;

            @media screen and (max-width: 600px){
                font-size: 1.65rem;
            }
        }
    
           

    
            input {
                all:unset;
                width: 100%;
                height: 100%;
                background-color: white;
                padding-left: 1.5rem;
                font-family: 'Poppins',sans-serif;
                border-radius: 0.5rem 0 0 0.5rem;           
            }
    
            button {
                all: unset;
                width: 2.5rem;
                height: 100%;
                background-color: white;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-right: 0.5rem;
                border-radius: 0 0.5rem 0.5rem 0;
                svg {
                    width: 75%;
                    height: 75%;
                    color: black;
                    cursor: pointer;
                }
            }
        }

        .header__choose {
            z-index: 2;           
        }
    }

    .flights__cards_c {
        width: 100%;
        min-height: 75vh;
        padding: 0 4rem 5rem;
        max-width: 1440px;
        margin: 0 auto;

        @media screen and (max-width: 800px){
            padding: 0 3rem 4rem;

        }

        @media screen and (max-width: 450px){
            padding: 0 1rem 2rem;

        }

        .flights__cards {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            height: 9rem;
            background-color: white;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
            margin-bottom: 3rem;
            padding: 1rem;
            cursor: pointer;
            transition: all 0.25s ease-in-out;
            &:hover {
                transform: scale(1.01);
                box-shadow: 0 0 25px rgba(0, 0, 0, 0.75);
                transition: all 0.25s ease-in-out;
            }
        
            &:last-child {
                margin-bottom: 0rem;
            }

            @media screen and (max-width: 800px){
                height: 7rem;
            }

            .flights__cards__fs {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;

                h1 {
                    @media screen and (max-width:800px) {
                        font-size: 1rem;
                    }
                }

                h3 {
                    @media screen and (max-width: 800px){
                        font-size: 0.9rem;
                    }
                    
                }

                h4 {
                    font-weight: 500;

                    @media screen and (max-width: 800px){
                        font-size: 0.75rem;
                    }
                }


                .dep-arav {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    h4 {
                        font-weight: 500;
                    }
                    svg {
                        margin-right: 5px;
                        &:last-child {
                            margin-left: 5px;                            
                            margin-right: 0px;                            
                        }
                    }
                }
            }

            
            .flights__cards__ts {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;

                h1 {
                    @media screen and (max-width: 800px){
                        font-size: 1rem;
                    }
                }

                h3 {
                    @media screen and (max-width: 800px){
                        font-size: 0.9rem;
                    }
                }
                
                h4 {
                    color: red;
                    font-weight: 600;

                    @media screen and (max-width: 800px){
                        font-size: 0.75rem;
                    }
                }

                div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    h4 {
                        color: black;
                    }
                    svg {
                        @media screen and (max-width: 800px){
                            width: 0.75rem;
                        }
                        margin-right: 5px;
                    }
                }

                p {
                    @media screen and (max-width: 800px){
                        font-size: 0.75rem;
                    }
                }
            }
        }
    }


.header__flight_input {
    z-index: 2;
        width: 50%;
        height: 3rem;
        border-radius: 0.5rem;
        margin-bottom: 4rem;

        @media screen and (max-width: 900px){
            width: 70%
        }

        @media screen and (max-width: 700px){
            width: 80%
        }

        @media screen and (max-width: 500px){
            width: 90%
        }

        

        .dep-input {
            all: unset;
            width: 50%;
            height: 100%;
            background-color: white;
            border: none;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
            padding: 0 1rem;
        }

            .divider {
                width: 3.5rem;
                height: 3.5rem;
                margin: 0 1rem;
                color: black;
            }

            .arriv-input {
                all: unset;
                height: 100%;
                width: calc(50% - 2.5rem);
                border-top-left-radius: 1rem;
                border-bottom-left-radius: 1rem;
                background-color: white;
                border: none;
                box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
                padding: 0 1rem;
            }

            button {
                z-index: 5;
                all: unset;
                width: 2.5rem;
                height: 100%;
                background-color: white;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-right: 0.5rem;
                border-radius: 0 0.5rem 0.5rem 0;
                svg {
                    width: 75%;
                    height: 75%;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        transition: all 0.2s ease-in-out;
                        transform: scale(1.1);
                    }
                }
            }
    }