.home-fs {
    height: 100vh;
    width: 100%;
    background-color: #43AFE4;
    padding-top: 11vh;
    header {
        position: relative;
        height: 100%;
        width: 100%;
        flex-direction: column;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        padding-top: 2rem;

        &::before {
            content: '';
            z-index: 1;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba(41, 37, 37, 0.25);
        }
        h1 {
            z-index: 2;
            font-family: 'Pacifico', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 3.75rem;
            color: #ce5265;
            text-shadow: -2px 2px 7.5px rgba(0, 0, 0,0.75);     
            letter-spacing: 1px;

            @media screen and (max-width: 700px) {
                font-size: 3rem;
            }

            @media screen and (max-width: 600px) {
                font-size: 2.5rem;
            }

            @media screen and (max-width: 500px) {
                font-size: 2rem;
            }

            @media screen and (max-width: 400px) {
                font-size: 1.75rem;
            }
        }
        h4 {
            z-index: 2;
            font-family: 'Poppins', sans-serif;
            font-weight: 800;
            color: #43AFE4;
            font-size: 1.65rem;
            text-shadow: -2px 2px 2.5px rgba(0, 0, 0,0.65);     
            letter-spacing: 1px;
            margin: 2rem 0 1.25rem;
            
            @media screen and (max-width: 700px) {
                font-size: 1.45rem;
            }

            @media screen and (max-width: 600px) {
                font-size: 1.25rem;

            }

            @media screen and (max-width: 500px) {
                font-size: 1rem;
            }

        }

        .header__hotel_input {
            z-index: 2;
            width: 35%;
            height: 2.5rem;
            border-radius: 0.5rem;
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.75);

            @media screen and (max-width: 1000px){
                width: 50%;
            }

            @media screen and (max-width: 750px){
                width: 70%;
            }

            @media screen and (max-width: 500px){
                width: 90%;
            }

            input {
                all:unset;
                width: 100%;
                height: 100%;
                background-color: white;
                padding-left: 1.5rem;
                font-family: 'Poppins',sans-serif;
                border-radius: 0.5rem 0 0 0.5rem;
            }

            button {
                all: unset;
                width: 2.5rem;
                height: 100%;
                background-color: white;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-right: 0.5rem;
                border-radius: 0 0.5rem 0.5rem 0;

                svg {
                    width: 75%;
                    height: 75%;
                    cursor: pointer;
                }
            }
        }

        .header__choose {
            width: 45%;
            height: 3rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            button:first-child {
                margin-right: 0.5rem;
            }
            button:last-child {
                margin-left: 0.5rem;
            }

            @media screen and (max-width: 1000px){
                width: 100%;
                justify-content: center;
            }

            

            button {
                all:unset;
                background-color: white;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
                padding: 5px 12.5px;
                border-radius: 1rem;
                z-index: 2;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.05);
                    transition: all 0.3s ease-in-out;
                }

                &:active {
                    transform: scale(1.025);
                    transition: all 0.3s ease-in-out;
                }
            }

            .date {
                z-index: 5;
            }
        }

        .header__flight_input {
            z-index: 2;
            width: 45%;
            height: 3rem;
            border-radius: 0.5rem;

            @media screen and (max-width: 900px){
                flex-direction: column;
            }

            .dep-input {
                all: unset;
                width: 50%;
                height: 100%;
                background-color: white;
                border: none;
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;
                box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
                padding: 0 1rem;
            }

                .divider {
                    width: 3.5rem;
                    height: 3.5rem;
                    margin: 0 1rem;
                    color: black;
                }

                .arriv-input {
                    all: unset;
                    height: 100%;
                    width: calc(50% - 2.5rem);
                    border-top-left-radius: 1rem;
                    border-bottom-left-radius: 1rem;
                    background-color: white;
                    border: none;
                    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
                    padding: 0 1rem;
                }

                button {
                    z-index: 5;
                    all: unset;
                    width: 2.5rem;
                    height: 100%;
                    background-color: white;
                    border: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-right: 0.5rem;
                    border-radius: 0 0.5rem 0.5rem 0;
                    svg {
                        width: 75%;
                        height: 75%;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;

                        &:hover {
                            transition: all 0.2s ease-in-out;
                            transform: scale(1.1);
                        }
                    }
                }
        }
    }
}