.home-fs {
    height: 100vh;
    width: 100%;
    background-color: #fff;
    padding-top: 11vh;
    header {
        position: relative;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
        padding-top: 2rem;
        justify-content: flex-start;
        padding-left: 10%;

        div {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            height: 75%;
            width: 75%;


            h1 {
                z-index: 2;
                font-size: 2.75rem;
    
                color: orangered;
                @media screen and (max-width: 700px) {
                    font-size: 3rem;
                }
    
                @media screen and (max-width: 600px) {
                    font-size: 2.5rem;
                }
    
                @media screen and (max-width: 500px) {
                    font-size: 2rem;
                }
    
                @media screen and (max-width: 400px) {
                    font-size: 1.75rem;
                }
            }
            h4 {
                z-index: 2;
                font-weight: 800;
                color: #43AFE4;
                font-size: 1.65rem;
                letter-spacing: 1px;
                
                @media screen and (max-width: 700px) {
                    font-size: 1.45rem;
                }
    
                @media screen and (max-width: 600px) {
                    font-size: 1.25rem;
    
                }
    
                @media screen and (max-width: 500px) {
                    font-size: 1rem;
                }
    
            }

            div {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                padding: none;
                margin-top: 2rem;

                a {
                    text-decoration: none;
                }
                button {
                    all: unset;
                    padding: 1rem 2rem;
                    background-color: #43AFE4;
                    color: white;
                    cursor: pointer;
                    box-shadow: 0 0 25px rgba(105, 105, 105, 0.5);
                    transition: all 0.3s ease-in-out;
                    border-radius: 0.5rem;
                    &:hover {
                        transform: scale(1.05);
                        transition: all 0.3s ease-in-out;

                    }

                    &:first-child {
                        margin-right: 1rem;
                    }
                }
            }
        }

        
    }
}